# Cleaning Notebook
## Performing Cleaning of the Scraped Cars.com Data

In [31]:
#importing packages
import pandas as pd
import numpy as np

In [32]:
#Loading scrapped Data
df = pd.read_pickle('/dsa/groups/casestudy2022su/team05/carscom_v01.pkl')

In [33]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420916 entries, 0 to 420915
Data columns (total 10 columns):
Vehicle            420916 non-null object
Mileage            420916 non-null object
Price              420916 non-null object
Deal_Rating        420916 non-null object
Dealer_Name        420916 non-null object
Distance           420916 non-null object
Distance Radius    420916 non-null object
Zip                420916 non-null object
State              420916 non-null object
City               420916 non-null object
dtypes: object(10)
memory usage: 32.1+ MB

,Vehicle,Mileage,Price,Deal_Rating,Dealer_Name,Distance,Distance Radius,Zip,State,City
0,2020 Jeep Grand Cherokee Laredo,"30,134 mi.","$37,990",Fair Deal,Carl Burger's Dodge Chrysler Jeep RAM,mi. from 92132,50,92132,CA,San Diego
1,2016 Dodge Challenger SRT Hellcat,"29,635 mi.","$54,099",Good Deal,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego
2,2010 Lexus ES 350,"159,000 mi.","$8,909","Great Deal | $1,111 under",TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego
3,2020 Buick Encore Essence,"57,751 mi.","$21,353",Good Deal,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego
4,2015 Lexus IS 350 Base,"55,800 mi.","$28,950",Good Deal,Shift San Diego,n/a,50,92132,CA,San Diego

### Separating Vehicle into Year, Make, and Model

In [34]:
# Splitting Vehcile column into Year and Make
new = df["Vehicle"].str.split(" ", n = 1, expand = True)

#Assigning the split to new columns.
df["Year"]=new[0]
df["Make"]=new[1]

#Dropping Vehicle column
df.drop(columns = ["Vehicle"], inplace = True)

In [35]:
df.head()

,Mileage,Price,Deal_Rating,Dealer_Name,Distance,Distance Radius,Zip,State,City,Year,Make
0,"30,134 mi.","$37,990",Fair Deal,Carl Burger's Dodge Chrysler Jeep RAM,mi. from 92132,50,92132,CA,San Diego,2020,Jeep Grand Cherokee Laredo
1,"29,635 mi.","$54,099",Good Deal,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,2016,Dodge Challenger SRT Hellcat
2,"159,000 mi.","$8,909","Great Deal | $1,111 under",TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,2010,Lexus ES 350
3,"57,751 mi.","$21,353",Good Deal,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego,2020,Buick Encore Essence
4,"55,800 mi.","$28,950",Good Deal,Shift San Diego,n/a,50,92132,CA,San Diego,2015,Lexus IS 350 Base

In [36]:
#Splitting the Make into two columns to create a Model column
new2 = df["Make"].str.split(" ", n = 1, expand = True)

#Assigning
df["Make2"]=new2[0]
df["Model"]=new2[1]

#Dropping Make
df.drop(columns = ["Make"], inplace = True)

In [37]:
df.head()

,Mileage,Price,Deal_Rating,Dealer_Name,Distance,Distance Radius,Zip,State,City,Year,Make2,Model
0,"30,134 mi.","$37,990",Fair Deal,Carl Burger's Dodge Chrysler Jeep RAM,mi. from 92132,50,92132,CA,San Diego,2020,Jeep,Grand Cherokee Laredo
1,"29,635 mi.","$54,099",Good Deal,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,2016,Dodge,Challenger SRT Hellcat
2,"159,000 mi.","$8,909","Great Deal | $1,111 under",TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,2010,Lexus,ES 350
3,"57,751 mi.","$21,353",Good Deal,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego,2020,Buick,Encore Essence
4,"55,800 mi.","$28,950",Good Deal,Shift San Diego,n/a,50,92132,CA,San Diego,2015,Lexus,IS 350 Base

In [38]:
#Reordering Columns
column_to_reorder = df.pop('Model')
column_to_reorder2 = df.pop('Make2')
column_to_reorder3 = df.pop('Year')
df.insert(0, 'Model', column_to_reorder)
df.insert(0, 'Make2', column_to_reorder2)
df.insert(0, 'Year', column_to_reorder3)

In [39]:
# Changing the name of Make2 back to Make
df = df.rename(columns={"Make2": "Make"})

In [40]:
df.head()

,Year,Make,Model,Mileage,Price,Deal_Rating,Dealer_Name,Distance,Distance Radius,Zip,State,City
0,2020,Jeep,Grand Cherokee Laredo,"30,134 mi.","$37,990",Fair Deal,Carl Burger's Dodge Chrysler Jeep RAM,mi. from 92132,50,92132,CA,San Diego
1,2016,Dodge,Challenger SRT Hellcat,"29,635 mi.","$54,099",Good Deal,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego
2,2010,Lexus,ES 350,"159,000 mi.","$8,909","Great Deal | $1,111 under",TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego
3,2020,Buick,Encore Essence,"57,751 mi.","$21,353",Good Deal,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego
4,2015,Lexus,IS 350 Base,"55,800 mi.","$28,950",Good Deal,Shift San Diego,n/a,50,92132,CA,San Diego

### Limiting the models toat least 15 or more unique value counts.

In [41]:
df.groupby('Make')['Model'].value_counts().sort_values(ascending=False)

Make       Model
Jeep       Grand Cherokee Limited    4459
Ford       F-150 XLT                 4394
           Explorer XLT              3040
Chevrolet  Silverado 1500 LT         2908
Nissan     Rogue SV                  2628
                                     ...
Dodge      Ram 3500 SLT/Laramie         1
           Ram 3500 SLT Quad Cab        1
           Ram 3500 SLT DRW             1
           Ram 3500 NA                  1
smart      ForTwo Passion/Pure          1
Name: Model, Length: 8422, dtype: int64

In [42]:
#Limiting to Models with unique values greaterh than 14.
#Reduction of total models from 8422 to 2643
df['Model'].value_counts().loc[lambda x : x>14]

Grand Cherokee Limited    4459
F-150 XLT                 4394
Explorer XLT              3040
Silverado 1500 LT         2908
Rogue SV                  2628
                          ...
RS 5 2DR 2.9 TFSI QTRO      15
Cayman                      15
Prius Four Touring          15
530e                        15
Q40 Base                    15
Name: Model, Length: 2643, dtype: int64

In [43]:
#Limiting to Models with unique values greater than 14 and storing in a list called ModelsToKeep
ModelsToKeep = df['Model'].value_counts().loc[lambda x : x>14].index.tolist()

In [44]:
ModelsToKeep

['Grand Cherokee Limited',
 'F-150 XLT',
 'Explorer XLT',
 'Silverado 1500 LT',
 'Rogue SV',
 'Corolla LE',
 'Equinox 1LT',
 'Escape SE',
 '1500 Big Horn',
 'CR-V EX-L',
 'Civic LX',
 'F-150 Lariat',
 'Fusion SE',
 'Wrangler Unlimited Sport',
 'Camry SE',
 'Edge SEL',
 'Pilot EX-L',
 'RAV4 XLE',
 'Altima 2.5 S',
 'RAV4 LE',
 'CR-V EX',
 'F-150 XL',
 'Tahoe LT',
 'Highlander XLE',
 'Wrangler Unlimited Sahara',
 'C-Class C 300',
 '1500 Laramie',
 'Tundra SR5',
 'Sorento LX',
 'Camry LE',
 'Sierra 1500 SLT',
 'GX 460 Base',
 'Malibu LT',
 'Rogue S',
 'XT5 Luxury',
 'X5 xDrive40i',
 'Cherokee Limited',
 'Silverado 1500 LTZ',
 'Odyssey EX-L',
 'Explorer Limited',
 'Wrangler Unlimited Rubicon',
 'CX-5 Grand Touring',
 'Yukon Denali',
 'Escape SEL',
 'Escape Titanium',
 'GLC 300 Base 4MATIC',
 'Grand Cherokee Laredo',
 'Accord EX-L',
 'RX 350 Base',
 'Sportage LX',
 'Equinox LS',
 'Rogue SL',
 'Equinox 2LT',
 'CX-5 Touring',
 'GLE 350 Base 4MATIC',
 '4Runner Limited',
 'Optima LX',
 'C-Class C 300 4MATIC',
 'Trax LT',
 'Edge Titanium',
 'Mustang GT Premium',
 'Acadia Denali',
 'Charger SXT',
 'Q5 2.0T Premium Plus',
 'CR-V LX',
 'Civic EX',
 'ES 350 Base',
 '4Runner SR5',
 'X3 xDrive30i',
 'Focus SE',
 'Tiguan 2.0T SE',
 'Terrain SLT',
 'Wrangler Sport',
 'Sierra 1500 Denali',
 'GLC 300 Base',
 'Sentra SV',
 'Frontier SV',
 'Terrain SLE',
 'Cherokee Latitude',
 'Compass Latitude',
 'Elantra SE',
 'F-250 Lariat',
 'GLS 450 Base 4MATIC',
 'QX60 Luxe',
 'Yukon SLT',
 'Murano SL',
 'Tacoma SR5',
 'Renegade Latitude',
 'Accord LX',
 'Outback 2.5i Limited',
 'X5 xDrive35i',
 'Encore Preferred',
 '330 i xDrive',
 'Traverse LT Cloth',
 'Grand Caravan SXT',
 'Highlander Limited',
 'Grand Cherokee Altitude',
 'Challenger SXT',
 'Tucson SE',
 'Silverado 1500 RST',
 'Civic Sport',
 'Grand Cherokee Overland',
 'Tacoma TRD Off Road',
 'Durango R/T',
 'Mustang GT',
 'MDX 3.5L',
 'Durango GT',
 'Fiesta SE',
 'QX60 Base',
 'Altima 2.5 SR',
 'E-Class E 350',
 'Camaro 2SS',
 'Sentra S',
 'Suburban LT',
 'Acadia SLT-1',
 'Pathfinder SV',
 'Sonata SE',
 'Camaro 1LT',
 'Charger R/T',
 '2500 Laramie',
 'Model 3 Long Range',
 'Tacoma TRD Sport',
 '330 i',
 'Jetta 1.4T S',
 'Trax LS',
 'Outback 2.5i Premium',
 'RAV4 Limited',
 'Soul Base',
 'Nautilus Reserve',
 'Silverado 2500 LTZ',
 'Corolla SE',
 '1500 SLT',
 'X7 xDrive40i',
 'Ranger XLT',
 'Accord Sport',
 'Elantra SEL',
 'MDX 3.5L w/Technology Package',
 'Challenger R/T',
 'Pathfinder SL',
 'Rogue Sport S',
 'Camry XSE',
 'Tahoe Premier',
 'Cherokee Latitude Plus',
 'Journey SE',
 'Murano SV',
 'Forte LX',
 'Altima 2.5 SV',
 'Yukon XL Denali',
 'Sierra 1500 SLE',
 'Cherokee Trailhawk',
 'Sienna LE',
 'RX 350 350',
 'RX 350 ',
 'Sierra 2500 Denali',
 'E-Class E 350 4MATIC',
 'Pacifica Limited',
 'Macan S',
 'F-150 Raptor',
 'Crosstrek 2.0i Premium',
 'Silverado 1500 Custom',
 '1500 Limited',
 'Compass Limited',
 'QX80 Base',
 'Silverado 1500 LT Trail Boss',
 'Expedition Limited',
 'Pacifica Touring-L',
 'Expedition XLT',
 'Armada SL',
 'QX80 Luxe',
 'F-150 Platinum',
 'Armada Platinum',
 'Escalade Luxury',
 '1500 Rebel',
 'XC90 T6 Momentum',
 'Silverado 1500 High Country',
 'Sierra 1500 AT4',
 'Model Y Long Range',
 'EcoSport SE',
 'E-Class E 300',
 'RDX Base',
 'Highlander LE',
 '4Runner SR5 Premium',
 'Grand Caravan GT',
 'CR-V Touring',
 'Sienna XLE',
 '2500 Tradesman',
 'Tacoma SR',
 'Fusion Titanium',
 'F-250 XLT',
 'Altima 2.5 SL',
 'Traverse LS',
 'Santa Fe Sport 2.4L',
 'Colorado Z71',
 'Colorado LT',
 'Silverado 2500 LT',
 'Q50 3.0t LUXE',
 'RDX Technology Package',
 'IS 300 Base',
 'Equinox LT',
 'Colorado WT',
 'X3 sDrive30i',
 'S-Class S 550 4MATIC',
 '1500 Tradesman/Express',
 'Durango SXT',
 'MKC Reserve',
 'Blazer RS',
 'Enclave Essence',
 'Tiguan 2.0T S',
 'Corvette Base',
 'Tundra Limited',
 'Silverado 1500 1LT',
 'Flex SEL',
 'Cruze LT',
 'Edge ST',
 'Forte LXS',
 'Murano S',
 'Compass Sport',
 'Escape S',
 'Traverse LT Leather',
 'Titan SV',
 'XT4 Premium Luxury',
 'Tahoe LS',
 'XT5 Premium Luxury',
 'Sportage EX',
 'Accord Sport 1.5T',
 'Mustang EcoBoost',
 'RX 350 F Sport',
 'Versa 1.6 SV',
 'Tahoe LTZ',
 'Traverse Premier',
 'GLE 350 Base',
 'F-350 Lariat Super Duty',
 'Compass Trailhawk',
 'Envision Essence',
 'Equinox Premier w/1LZ',
 'GLA 250 Base 4MATIC',
 'Cayenne Base',
 'Challenger R/T Scat Pack',
 'X3 xDrive28i',
 'Q5 2.0T Premium',
 'Explorer Platinum',
 'Mustang EcoBoost Premium',
 'X1 xDrive28i',
 'Murano Platinum',
 'Cruze LS',
 'CLA 250 Base',
 'Acadia SLE-2',
 'Escalade Premium Luxury',
 'Malibu 1LS',
 '1500 Sport',
 'Blazer 2LT',
 'Pilot EX',
 'GLA 250 Base',
 '1500 Classic SLT',
 'Soul +',
 'Malibu 1LT',
 'QX50 ESSENTIAL',
 'Camry XLE',
 'Sonata Limited',
 'XC60 T5 Momentum',
 'Explorer ST',
 'Terrain Denali',
 'Corvette Grand Sport',
 'CX-9 Grand Touring',
 'Model 3 Standard Range Plus',
 'Gladiator Sport',
 'Q7 3.0T Premium Plus',
 'Journey Crossroad',
 'Edge SE',
 'CX-5 Sport',
 'CX-9 Touring',
 '300 S',
 'Enclave Premium',
 'Patriot Sport',
 'Fusion Hybrid SE',
 'Fusion SEL',
 'AMG G 63 Base',
 '2500 Big Horn',
 'Mustang V6',
 'Gladiator Rubicon',
 'Passport EX-L',
 'Telluride SX',
 'Optima EX',
 'Charger Scat Pack',
 'Traverse 1LT',
 'Macan Base',
 'Rogue Sport SV',
 'Corolla L',
 'Town & Country Touring',
 'NX 300 Base',
 'XT4 Sport',
 'Atlas 3.6L SE w/Technology',
 'RAV4 XLE Premium',
 'Grand Cherokee Summit',
 '1500 Longhorn',
 'Telluride S',
 'Yukon XL SLT',
 'X1 sDrive28i',
 'Aviator Reserve AWD',
 'F-250 XL',
 '540 i xDrive',
 '328 i',
 'Forester Premium',
 'Impala 1LT',
 'Transit-250 Base',
 'Tucson Limited',
 'Forester 2.5i Premium',
 'Expedition Max Limited',
 'Accord EX',
 'F-150 ',
 'Hardtop Cooper S',
 'Sorento EX',
 '530 i xDrive',
 '200 Limited',
 'Q8 3.0T Premium',
 '300 Limited',
 'A4 2.0T Premium Plus',
 'XC90 T6 Inscription',
 'Acadia SLE-1',
 'Pilot Touring',
 'Sierra 3500 Denali',
 'Telluride EX',
 'Tacoma Base',
 'Accent SE',
 'A4 2.0T Premium',
 'Santa Fe SEL 2.4',
 'Santa Fe SE 2.4',
 'Silverado 1500 WT',
 'Civic EX-L',
 'Wrangler Rubicon',
 'Renegade Sport',
 'Tucson SEL',
 'F-150 King Ranch',
 'Crosstrek 2.0i Limited',
 'A5 2.0T Premium',
 'Armada SV',
 'Encore Essence',
 'X6 xDrive35i',
 'Outback 3.6R Limited',
 'Cruze 1LT',
 'Sonata GLS',
 'GLB 250 Base',
 'Charger GT',
 'Silverado 2500 High Country',
 'AMG C 43 Base 4MATIC',
 'Highlander SE',
 'S-Class S 550',
 'Sonic LT',
 'Ridgeline RTL-E',
 'HR-V LX',
 'Palisade SEL',
 'Fusion S',
 'Enclave Leather',
 'Hardtop Cooper',
 'Pilot Elite',
 'Grand Caravan SE',
 'Sorento SX',
 'RAV4 Hybrid LE',
 'RDX A-Spec',
 'Pathfinder S',
 'X5 xDrive50i',
 'Grand Cherokee Trailhawk',
 'X1 xDrive 28i',
 'Spark LS',
 'MKX Reserve',
 'HR-V EX',
 'Suburban Premier',
 '1500 Express',
 'Explorer sport',
 'Silverado 3500 LTZ',
 'Palisade Limited',
 'ES 350 F Sport',
 'Rover Range Rover Sport 3.0L Supercharged HSE',
 'Sentra SR',
 'QX60 Pure',
 'A5 2.0T Premium Plus',
 'Avalon Limited',
 'Journey SXT',
 'Express 2500 Work Van',
 'Tacoma PreRunner',
 '335 i',
 'Tahoe Z71',
 'Elantra GLS',
 'WRX Premium',
 'Colorado ZR2',
 'GLB 250 Base 4MATIC',
 'CR-V ',
 'GS 350 Base',
 '1500 Classic Tradesman',
 'A3 2.0T Premium',
 'Impreza 2.0i',
 'Q5 45 Premium',
 'Romeo Giulia Ti',
 'Corvette Stingray Z51',
 'IS 350 Base',
 'Silverado 1500 Work Truck',
 'MX-5 Miata Grand Touring',
 'Pathfinder Platinum',
 'Wrangler JK Unlimited Sport',
 '750 i xDrive',
 'MKZ Base',
 'Flex Limited',
 'Elantra Limited',
 'Tucson Value',
 'Camaro 2LT',
 '740 i',
 'Yukon SLE',
 'Spark 1LT',
 'Ascent Touring 7-Passenger',
 'Grand Cherokee SRT',
 'SQ5 3.0T Premium',
 'NX 200t Base',
 'Pacifica Touring-L Plus',
 'Odyssey Touring',
 'Terrain SLE-1',
 'Silverado 1500 Custom Trail Boss',
 'WRX Base',
 'Explorer Base',
 'Odyssey EX',
 'C-HR XLE',
 'Tiguan 2.0T SEL',
 'Impala LT',
 'Rover Range Rover HSE',
 'Mazda3 i Touring',
 'Countryman Cooper S ALL4',
 'S60 T5 Momentum',
 'X2 xDrive28i',
 'Rio LX',
 'Maxima 3.5 SV',
 'Sierra 1500 Elevation',
 'NX 300 F Sport',
 'Explorer Sport',
 'CLA 250 Base 4MATIC',
 'Acadia SLE',
 'Taurus SEL',
 '328 i xDrive',
 'Model 3 Performance',
 'Ascent Limited 7-Passenger',
 'M-Class ML 350 4MATIC',
 'Sonata SEL',
 'TLX FWD',
 'ES 350 ',
 'M4 Base',
 'X3 M40i',
 '1500 TRX',
 'Challenger GT',
 'Outback Premium',
 'GL-Class GL 450 4MATIC',
 'Romeo Stelvio Ti',
 'Q3 2.0T Premium Plus',
 'Pilot Special Edition',
 'Corvette ',
 'Soul LX',
 'Focus Titanium',
 '4Runner Sport',
 'Durango Citadel',
 'Gladiator Overland',
 'Maxima 3.5 Platinum',
 'Traverse 2LT',
 'Ranger XL',
 'Acadia SLT',
 'A-Class A 220',
 'Corvette Stingray w/3LT',
 '540 i',
 'Kicks SV',
 'Corolla S',
 'X5 M Base',
 'Charger SE',
 'Outlander SEL',
 '1500 Tradesman',
 'Jetta 1.4T SE',
 '3500 Tradesman',
 'C-HR LE',
 'Equinox LTZ',
 'Corvette Stingray',
 'TLX A-Spec',
 'XC60 T5 Inscription',
 'Outback Limited',
 'Q7 3.0T Prestige',
 'Camaro 1SS',
 'Suburban 1500 LT',
 'XTS Luxury',
 'SRX Luxury Collection',
 'Navigator Reserve',
 'Sierra 2500 SLT',
 '530 i',
 'Cayenne S',
 'Fit Sport',
 'CTS 2.0L Turbo Luxury',
 'LS 460 Base',
 'Rover Discovery HSE',
 'Elantra Value Edition',
 'Sonata Sport',
 'IS 250 Base',
 'Model S 75D',
 'Outback 2.5i',
 'RAV4 Hybrid Limited',
 'Ridgeline RTL',
 'X7 xDrive50i',
 'Romeo Giulia Base',
 'ProMaster 2500 High Roof',
 'Titan PRO-4X',
 'RDX ',
 '911 Carrera',
 'AMG GLC 43 Base 4MATIC',
 'G-Class G 550 4MATIC',
 'Wrangler Sahara',
 'Kona SE',
 'Corvette Z06',
 'XT6 Premium Luxury FWD',
 'Expedition Platinum',
 'Challenger SRT Hellcat',
 'Rover Discovery Sport HSE',
 'Santa Fe SE',
 'Silverado 3500 High Country',
 'Silverado 2500 WT',
 '430 Gran Coupe i',
 'Rover Range Rover Evoque SE',
 'Sportage S',
 'Canyon SLE',
 'Edge Limited',
 'Elantra GT Base',
 'Impreza 2.0i Premium',
 'Romeo Stelvio Base',
 '3500 Laramie',
 '535 i',
 'Tundra Platinum',
 '4Runner TRD Pro',
 'RAV4 Sport',
 'Kona SEL',
 'Tundra Grade',
 'Tundra 1794',
 'Pilot Touring 8-Passenger',
 'Legacy 2.5i Premium',
 'G80 3.8',
 'X5 sDrive40i',
 'WRX Limited',
 'Edge Sport',
 'Grand Cherokee High Altitude',
 'Bronco Sport Big Bend',
 'Renegade Trailhawk',
 'Accord Touring 2.0T',
 'Pilot LX',
 'Corvette Stingray w/2LT',
 'Taurus Limited',
 'Tucson Sport',
 'Terrain SLE-2',
 'Forester Sport',
 'Patriot Latitude',
 'Grand Cherokee Laredo E',
 'Urus Base',
 'Escalade Premium',
 'Civic Si',
 'WRX STI Base',
 'Blazer 1LT',
 'MKC Select',
 'Ridgeline Sport',
 'Ghibli S Q4',
 '530e iPerformance',
 'EcoSport Titanium',
 'Escape XLT',
 'K5 GT-Line',
 'RDX Advance Package',
 'RS 5 2.9T',
 'Mazda3 i Sport',
 'Outlander SE',
 'Q7 55 Premium Plus',
 'Escalade ESV Luxury',
 'Jetta SE',
 'Atlas 3.6L SEL',
 'Veloster Base',
 'Odyssey Elite',
 'Optima S',
 'XC90 T5 Momentum',
 'Ranger Lariat',
 'Frontier S',
 'Outlander Sport ES',
 'HR-V Sport',
 'Sedona LX',
 'Q5 2.0T Tech Premium',
 'Model Y Performance',
 'Q7 55 Prestige',
 'Q3 45 S line Premium',
 'QX50 Luxe',
 'Escalade Platinum',
 'M3 Base',
 'Sequoia Limited',
 '911 Turbo S',
 'Mustang V6 Premium',
 '911 Carrera S',
 'Camry L',
 'Equinox Premier w/2LZ',
 'F-150 XLT SuperCrew',
 'F-250 Platinum',
 'Rogue Sport SL',
 'Camaro 2LS',
 'F-150 FX4',
 'Grand Caravan AVP/SE',
 'M550 i xDrive',
 'Sequoia SR5',
 'Forester 2.5i Limited',
 'Accord Sport 2.0T',
 'Sportage SX Turbo',
 'Leaf SL',
 'F-150 Limited',
 'RX 350L Premium',
 'Fiesta S',
 'Civic EX-T',
 'Equinox Premier',
 'Forester Limited',
 'Atlas 3.6L SEL Premium',
 'F-350 XLT',
 'Mustang ',
 '430 Gran Coupe i xDrive',
 'Kicks SR',
 'MDX 3.5L Technology Package',
 'ES 350 350',
 'E-Class E 450',
 'Journey GT',
 'X5 sDrive35i',
 'Prius Two',
 'Sierra 1500 Base',
 'Focus S',
 'Rover Range Rover Sport HSE',
 '300 Touring',
 '300C Base',
 'Fit LX',
 'Cherokee Sport',
 'Highlander Limited Platinum',
 'Genesis 3.8',
 'Crosstrek Premium',
 '1500 ST',
 'Rover Range Rover Sport Supercharged HSE',
 'GX 460 Luxury',
 'Versa S',
 'MDX 3.5L w/Advance Package',
 'XT6 Premium Luxury AWD',
 'RC 350 Base',
 'Telluride LX',
 'Outback ',
 'XT5 Base',
 'Escalade ESV Premium Luxury',
 'Pilot ',
 'EcoSport SES',
 'Fit EX',
 'RX 450h Base',
 'Panamera 4',
 'Kicks S',
 'Focus ST Base',
 'GLC 350e Base 4MATIC',
 'Santa Fe Limited',
 '430 i',
 'RAV4 Hybrid XLE',
 'FJ Cruiser Base',
 'Frontier PRO-4X',
 'XC60 T6 Momentum',
 'Avalon XLE',
 'Rover Range Rover Sport 5.0L Supercharged Dynamic',
 'Tiguan S',
 'M5 Base',
 'IS 200t Base',
 'Maxima 3.5 SL',
 'MKZ Reserve',
 'Sequoia Platinum',
 'Focus SEL',
 'Pilot Touring 7-Passenger',
 'Corolla Hatchback SE',
 'Rover Discovery Sport SE',
 'TLX Technology',
 'MDX ',
 'Acadia SLT-2',
 'Sorento LX V6',
 'Suburban 1500 LTZ',
 'Outlander ES',
 'ProMaster 1500 Base',
 'RAV4 Adventure',
 'F-250 King Ranch',
 'Jetta S',
 'NX 300 ',
 'Countryman Cooper S',
 'X5 xDrive35d',
 'S-Class S 560 4MATIC',
 'CLA-Class CLA 250',
 'S5 3.0T Premium Plus',
 'Enclave Avenir',
 'F-PACE 25t Premium',
 'Grand Cherokee L Limited',
 'F-PACE S',
 'Civic Type R Touring',
 'Impreza 2.0i Sport',
 'Sienna SE',
 'IS 250 ',
 'Savana 2500 Work Van',
 '535 i xDrive',
 'SQ5 3.0T Premium Plus',
 '320 i xDrive',
 'E-Class E 400',
 'Liberty Sport',
 'Envision Preferred',
 'Malibu Premier',
 'F-350 Platinum',
 'Forte EX',
 'Transit Connect XL',
 'X2 sDrive28i',
 'Silverado 1500 Base',
 'MDX 3.7L Technology',
 '4Runner TRD Off Road Premium',
 'Journey SE Value',
 'AMG GLE 43 4MATIC Coupe',
 'Sierra 2500 SLE',
 'Durango Limited',
 'Santa Fe GLS',
 'Canyon Denali',
 'Traverse RS',
 'Accord Touring',
 'AMG C 63 S',
 'Renegade Limited',
 'Mazda3 Touring',
 'Rio S',
 'Forester 2.5i',
 'Rover Range Rover Sport HSE Dynamic',
 'Wrangler JK Unlimited Sahara',
 '1500 Lone Star',
 'Continental GT V8',
 'Stinger GT2',
 '528 i',
 'Camaro ZL1',
 'Mazda6 Touring',
 'Rover Range Rover Velar S',
 'ATS 2.0L Turbo',
 'XV Crosstrek 2.0i Premium',
 'Passat 2.0T SE',
 'Forester ',
 'LX 570 Base',
 'Charger SRT Hellcat',
 'Convertible Cooper S',
 'E-Class E 550',
 'Model X 75D',
 'MKX Base',
 'Tacoma TRD Pro',
 'Shelby GT500 Base',
 'RDX Technology',
 'Highlander LE Plus',
 'Ascent Premium 7-Passenger',
 'SL-Class SL 550',
 'Macan GTS',
 'Highlander ',
 'Atlas 3.6L SE',
 'Jetta 1.4T R-Line',
 'Soul S',
 'Forester Touring',
 'F-350 XL',
 'Accord Sport SE',
 'GS 350 F Sport',
 'Pilot EX-L w/Navigation/RES',
 'Mirage G4 ES',
 'ATS 2.0L Turbo Luxury',
 '2500 SLT',
 '911 Carrera 4S',
 'Trailblazer LT',
 'CX-5 Signature',
 'Cayenne GTS',
 '320 i',
 'Nautilus Select',
 'Rover Range Rover Supercharged',
 '911 Turbo',
 'XC60 T6 Inscription',
 'Q7 45 Premium',
 'GLC 300 4MATIC Coupe',
 '4Runner SR5 Sport',
 '4Runner TRD Off Road',
 'Ram 1500 SLT',
 'Traverse LTZ',
 'Camry Hybrid LE',
 'C-Class C 250',
 '1500 Classic Express',
 'Tucson Ultimate',
 'AMG GLE 53 Base',
 'C-Class C 300 4MATIC Sport',
 'Sorento L',
 'Seltos S',
 'S90 T5 Momentum',
 'Transit Connect XLT',
 '430 i xDrive',
 'LaCrosse Leather',
 'F-150 STX',
 'IS 350 F Sport',
 'GLK-Class GLK 350',
 'S4 3.0T Premium Plus',
 '500 Pop',
 '1500 ',
 'Venza XLE',
 'Santa Fe Limited 2.0T',
 'Leaf SV',
 'Rover Range Rover 5.0L Supercharged',
 'S-Class S 560',
 'LX 570 Three-Row',
 'Passport Touring',
 'MKZ Reserve I',
 'Prius Four',
 'Passport Sport',
 'XC90 T6 R-Design',
 'X4 xDrive30i',
 'GLE 450 AWD 4MATIC',
 'BRZ Limited',
 'Tucson GLS',
 'Navigator L Reserve',
 'Camry Hybrid XLE',
 'Charger R/T 392',
 'QX50 Base',
 'TL Technology',
 'Expedition Max XLT',
 'Rover Range Rover Velar P250 SE R-Dynamic',
 'MX-5 Miata Sport',
 'Voyager LXI',
 'XT6 Sport AWD',
 'Q50 3.0t Sport',
 'CT 200h Base',
 'G37x Base',
 'Jetta SportWagen TDI',
 'Traverse LT',
 'Silverado 1500 LS',
 'Model S Performance',
 'Q8 55 Premium',
 'EcoSport S',
 'Ridgeline Black Edition',
 'Forester 2.5i Touring',
 'Panamera 4S',
 'Encore Sport Touring',
 'F-250 Super Duty',
 'Rover Range Rover Evoque SE Premium',
 'Tacoma ',
 'QX60 LUXE',
 'Q60 3.0t LUXE',
 'Traverse High Country',
 'Versa Note SV',
 'Leaf S',
 'CTS-V Base',
 'Wrangler Unlimited 4xe Sahara',
 'XC90 T6 Momentum 7 Passenger',
 'S-Class S 580 4MATIC',
 'Highlander XSE',
 'Civic ',
 'TLX V6 w/Technology Package',
 'Q50 Premium',
 'Escape Limited',
 'Accord LX-P',
 'M340 i',
 'Titan XD SV',
 'Blazer Premier',
 'M850 i xDrive',
 '528 i xDrive',
 'Gladiator Mojave',
 'Accord LX-S',
 'GS 350 ',
 'Atlas 3.6 V6 SE w/ Technology',
 'Accord LX 1.5T',
 '750 i',
 'Rogue Select S',
 'Legacy 2.5i Limited',
 'Silverado 2500 Custom',
 'E-Class E 450 4MATIC',
 'XC40 T5 Momentum',
 'Beetle 2.5L',
 'Civic Touring',
 'Prius Three',
 '1500 Classic Big Horn',
 'Blazer 3LT',
 'Maxima 3.5 S',
 'XC40 T5 R-Design',
 'Taurus SE',
 'A6 2.0T Premium Plus',
 'GLE-Class GLE 350 4MATIC',
 'Sorento S',
 'Dart SXT',
 'TSX 2.4',
 'Outback Onyx Edition XT',
 'Crosstrek Limited',
 'Passat 1.8T S',
 'Forester 2.5X Premium',
 'SRX Performance Collection',
 'Compass Altitude',
 'Passport Elite',
 'Impala Premier 2LZ',
 'Odyssey LX',
 'Forester 2.5X',
 'Santa Fe SEL',
 'Q5 3.0T Premium Plus',
 'Tacoma Limited',
 'Rover Range Rover 3.0L Supercharged HSE',
 'Impala LS',
 'Transit-250 148 WB Medium Roof Cargo',
 'Silverado 1500 LD LT',
 'Silverado 3500 LT',
 'Rover Discovery SE',
 'Town & Country Touring-L',
 'Rover Range Rover 5.0L V8 Supercharged',
 'Model S 100D',
 'RAV4 Base',
 'Fusion Energi Titanium',
 'Expedition EL XLT',
 'Veloster Turbo',
 'Continental Reserve',
 'Camry ',
 'Corsair Reserve',
 'Civic Si Base',
 '200 S',
 'Rover LR4 Base',
 'A6 3.0T Premium Plus',
 'Soul !',
 'Malibu RS',
 'Versa 1.6 S+',
 '2500 Longhorn',
 'Altima 2.5 Platinum',
 'Canyon SLT',
 'Pilot EX-L w/ Navigation',
 'Mazda6 i Touring',
 'G37 Journey',
 'GLS 550 Base 4MATIC',
 '2500 Limited',
 'Palisade Calligraphy',
 'Expedition EL Limited',
 'Malibu LS',
 'A7 3.0T Prestige',
 '330e iPerformance',
 'Accord Hybrid EX-L',
 'A7 3.0T Premium Plus',
 'Maxima SV',
 'Ghibli Base',
 'Countryman Cooper',
 '2500 Power Wagon',
 'Legacy 2.5i',
 'Romeo Stelvio Ti Sport',
 '335 i xDrive',
 'S5 3.0T Prestige',
 'Corolla S Plus',
 'Kona Ultimate',
 'Highlander Hybrid Limited',
 '370Z Base',
 'Tahoe High Country',
 'F-TYPE R',
 'Q7 2.0T Premium Plus',
 'Q7 55 Premium',
 'Wrangler X',
 'Sedona EX',
 'Sienna Limited',
 'Silverado 1500 2LT',
 'Highlander Platinum',
 'Trailblazer RS',
 'Escalade ESV Premium',
 'Titan SL',
 '428 i',
 'Accent GLS',
 'Acadia AT4',
 'Rover Discovery HSE LUXURY',
 'Continental Select',
 'AMG S 63 Base 4MATIC',
 'A-Class A 220 4MATIC',
 'Maxima 3.5 SR',
 'Mustang Premium',
 'MKZ Standard',
 'Forester 2.0XT Touring',
 'Ridgeline RTL-T',
 'Pacifica Touring',
 'Atlas 2.0T SE',
 'Ascent Limited 8-Passenger',
 'GLK-Class GLK 350 4MATIC',
 'GLA-Class GLA 250 4MATIC',
 'Volt Base',
 'CX-30 Premium Package',
 'Accord ',
 'F-TYPE Base',
 'Camaro 1LS',
 'Malibu 2LT',
 'XC90 T5 Momentum 7 Passenger',
 'Yukon XL 1500 SLT',
 'Sierra 2500 AT4',
 'CTS 3.6L Luxury',
 'S60 T5',
 'Renegade Altitude',
 'Accord Hybrid Base',
 'Tacoma Double Cab',
 'i3 Base',
 'CR-V SE',
 'TLX V6',
 'Tiguan SE',
 '650 i',
 'Levante Base',
 'Cherokee Latitude Lux',
 'RAV4 Hybrid XSE',
 'CX-9 Signature',
 'Trailblazer LS',
 'Jetta TDI',
 '1500 Classic Warlock',
 'G70 3.3T',
 'M3 ',
 'Forte FE',
 'Sonic LS',
 'Maxima S',
 'Sonata Limited 2.0T',
 ...]

In [45]:
#Using .isin to keep only models listed in ModelsToKeep. Reseting the index...
df2 = df[df['Model'].isin(ModelsToKeep)].reset_index()

In [46]:
#Reduction of total instances from 420916 to 400741
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400741 entries, 0 to 400740
Data columns (total 13 columns):
index              400741 non-null int64
Year               400741 non-null object
Make               400741 non-null object
Model              400741 non-null object
Mileage            400741 non-null object
Price              400741 non-null object
Deal_Rating        400741 non-null object
Dealer_Name        400741 non-null object
Distance           400741 non-null object
Distance Radius    400741 non-null object
Zip                400741 non-null object
State              400741 non-null object
City               400741 non-null object
dtypes: int64(1), object(12)
memory usage: 39.7+ MB

,index,Year,Make,Model,Mileage,Price,Deal_Rating,Dealer_Name,Distance,Distance Radius,Zip,State,City
0,0,2020,Jeep,Grand Cherokee Laredo,"30,134 mi.","$37,990",Fair Deal,Carl Burger's Dodge Chrysler Jeep RAM,mi. from 92132,50,92132,CA,San Diego
1,1,2016,Dodge,Challenger SRT Hellcat,"29,635 mi.","$54,099",Good Deal,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego
2,2,2010,Lexus,ES 350,"159,000 mi.","$8,909","Great Deal | $1,111 under",TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego
3,3,2020,Buick,Encore Essence,"57,751 mi.","$21,353",Good Deal,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego
4,4,2015,Lexus,IS 350 Base,"55,800 mi.","$28,950",Good Deal,Shift San Diego,n/a,50,92132,CA,San Diego

### Clean the Mileage, Price and Deal_Rating Columns

In [47]:
#Exract the mileage column and split the string to remove the characters.
mileage = df2['Mileage']
mileage_column = pd.DataFrame(mileage.str.split(expand = True)).drop(columns=[1])
mileage_column.columns = ['Mileage']
mileage_column['Mileage'] = mileage_column['Mileage'].str.replace(',', '')
mileage_column.head(10)

  Mileage
0   30134
1   29635
2  159000
3   57751
4   55800
5   61323
6   54304
7   59516
8   29500
9   56371

In [48]:
#Exract the price column and split the string to remove the characters.
price = df2['Price']
price_column = pd.DataFrame(price)
price_column["Price"] = price_column["Price"].str.replace('$', '')
price_column["Price"] = price_column["Price"].str.replace(',', '')
price_column.head(10)

   Price
0  37990
1  54099
2   8909
3  21353
4  28950
5  14800
6  22675
7  43079
8  62999
9  19739

In [49]:
#Exract the deal_rating column and split the string to remove the characters.
deal_rating = df2['Deal_Rating']
deal_rating_column = pd.DataFrame(deal_rating.str.split(expand = True)).drop(columns=[1, 2, 4])
deal_rating_column.columns = ['Rate', 'Under_Value($)']
deal_rating_column["Under_Value($)"] = deal_rating_column["Under_Value($)"].str.replace('$', '')
deal_rating_column["Under_Value($)"] = deal_rating_column["Under_Value($)"].str.replace(',', '')
deal_rating_column['Under_Value($)'] = deal_rating_column['Under_Value($)'].fillna(0)

#Convert the object type to numeric
deal_rating_column['Under_Value($)'] = pd.to_numeric(deal_rating_column['Under_Value($)'])
deal_rating_column.loc[deal_rating_column["Rate"] == "Home", "Rate"] = "Home_Delivery"
deal_rating_column.head(10)

    Rate  Under_Value($)
0   Fair               0
1   Good               0
2  Great            1111
3   Good               0
4   Good               0
5   Good               0
6  Great             229
7   Fair               0
8   Fair               0
9  Great            1236

In [50]:
# Remove the null values and convert the object type to numeric
price_column = price_column[price_column.Price != 'Not Priced']
mileage_column = mileage_column[mileage_column.Mileage != 'n/a']
deal_rating_column = deal_rating_column[deal_rating_column.Rate != 'n/a']
price_column['Price'] = pd.to_numeric(price_column['Price'])
mileage_column['Mileage'] = pd.to_numeric(mileage_column['Mileage'])

In [51]:
# Remove the old columns and replace with the new columns
df2_removed = df2.drop(columns=['Mileage','Price','Deal_Rating'])
df3 = pd.concat([df2_removed, mileage_column, price_column, deal_rating_column], axis=1, join='inner')
df3.head(30)

,index,Year,Make,Model,Dealer_Name,Distance,Distance Radius,Zip,State,City,Mileage,Price,Rate,Under_Value($)
0,0,2020,Jeep,Grand Cherokee Laredo,Carl Burger's Dodge Chrysler Jeep RAM,mi. from 92132,50,92132,CA,San Diego,30134,37990,Fair,0
1,1,2016,Dodge,Challenger SRT Hellcat,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,29635,54099,Good,0
2,2,2010,Lexus,ES 350,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,159000,8909,Great,1111
3,3,2020,Buick,Encore Essence,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego,57751,21353,Good,0
4,4,2015,Lexus,IS 350 Base,Shift San Diego,n/a,50,92132,CA,San Diego,55800,28950,Good,0
5,5,2019,Ford,Fiesta SE,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego,61323,14800,Good,0
6,6,2020,Buick,Encore Essence,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego,54304,22675,Great,229
7,7,2015,Toyota,Tundra TRD Pro,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,59516,43079,Fair,0
8,8,2017,BMW,M3 Base,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,29500,62999,Fair,0
9,9,2020,Nissan,Rogue Sport S,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego,56371,19739,Great,1236
10,10,2011,Lexus,ES 350 Base,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,95205,14700,Good,0
11,11,2020,Nissan,Rogue Sport S,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego,54968,21200,Great,500
12,12,2019,Chevrolet,Malibu LT,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego,60332,18350,Great,1300
13,13,2015,Nissan,Pathfinder SV,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,111000,16169,Good,0
14,14,2019,Toyota,Camry XSE,Shift San Diego,n/a,50,92132,CA,San Diego,23592,31450,Good,0
15,15,2019,Toyota,Camry SE,San Diego Chrysler Dodge Jeep RAM,4 mi. from 92132,50,92132,CA,San Diego,21263,28888,Great,566
16,17,2015,Lexus,RX 350 Base,Shift San Diego,n/a,50,92132,CA,San Diego,62026,24950,Good,0
17,18,2017,Subaru,Crosstrek 2.0i Premium,Shift San Diego,n/a,50,92132,CA,San Diego,85229,20450,Good,0
18,19,2015,Ford,Mustang GT Premium,Shift San Diego,n/a,50,92132,CA,San Diego,82306,27450,Great,816
19,20,2020,Tesla,Model 3 Standard Range Plus,Shift San Diego,n/a,50,92132,CA,San Diego,24034,48950,Great,2608
20,21,2015,Lexus,RX 350 Base,Shift San Diego,n/a,50,92132,CA,San Diego,61209,25450,Good,0
21,22,2013,Honda,Accord EX-L,Shift San Diego,n/a,50,92132,CA,San Diego,140236,14950,Fair,0
22,23,2019,Tesla,Model 3 Long Range,Shift San Diego,n/a,50,92132,CA,San Diego,29902,52950,Good,0
23,24,2014,BMW,X1 sDrive28i,Shift San Diego,n/a,50,92132,CA,San Diego,84624,14350,Good,0
24,25,2014,BMW,428 i xDrive,Carvana-Touchless Delivery To Your Home,n/a,50,92132,CA,San Diego,29574,33990,Home_Delivery,0
25,26,2015,Lexus,IS 350 Base,Carvana-Touchless Delivery To Your Home,n/a,50,92132,CA,San Diego,44009,32990,Good,0
26,27,2015,Hyundai,Sonata SE,Carvana-Touchless Delivery To Your Home,n/a,50,92132,CA,San Diego,33590,16590,Good,0
27,28,2013,Lexus,GS 350 Base,Mission Bay Chevrolet,6 mi. from 92132,50,92132,CA,San Diego,39894,27900,Fair,0
28,29,2021,Toyota,Highlander L,Cumming Chevrolet,6 mi. from 92132,50,92132,CA,San Diego,17840,42899,Good,0
29,30,2012,Honda,Accord EX-L,South Bay Volkswagen,6 mi. from 92132,50,92132,CA,San Diego,99139,15576,Fair,0

In [52]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389785 entries, 0 to 400740
Data columns (total 14 columns):
index              389785 non-null int64
Year               389785 non-null object
Make               389785 non-null object
Model              389785 non-null object
Dealer_Name        389785 non-null object
Distance           389785 non-null object
Distance Radius    389785 non-null object
Zip                389785 non-null object
State              389785 non-null object
City               389785 non-null object
Mileage            389785 non-null int64
Price              389785 non-null int64
Rate               389785 non-null object
Under_Value($)     389785 non-null int64
dtypes: int64(4), object(10)
memory usage: 44.6+ MB

### Clean the Distance Column

In [53]:
#adding new columns for string split. need to get miles by itself
df3[['miles','mile label','from','zip_code']]=df3['Distance'].str.split(" ",expand=True)
df3.head(10)

,index,Year,Make,Model,Dealer_Name,Distance,Distance Radius,Zip,State,City,Mileage,Price,Rate,Under_Value($),miles,mile label,from,zip_code
0,0,2020,Jeep,Grand Cherokee Laredo,Carl Burger's Dodge Chrysler Jeep RAM,mi. from 92132,50,92132,CA,San Diego,30134,37990,Fair,0,mi.,from,92132,None
1,1,2016,Dodge,Challenger SRT Hellcat,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,29635,54099,Good,0,2,mi.,from,92132
2,2,2010,Lexus,ES 350,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,159000,8909,Great,1111,2,mi.,from,92132
3,3,2020,Buick,Encore Essence,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego,57751,21353,Good,0,2,mi.,from,92132
4,4,2015,Lexus,IS 350 Base,Shift San Diego,n/a,50,92132,CA,San Diego,55800,28950,Good,0,n/a,None,None,None
5,5,2019,Ford,Fiesta SE,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego,61323,14800,Good,0,2,mi.,from,92132
6,6,2020,Buick,Encore Essence,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego,54304,22675,Great,229,2,mi.,from,92132
7,7,2015,Toyota,Tundra TRD Pro,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,59516,43079,Fair,0,2,mi.,from,92132
8,8,2017,BMW,M3 Base,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,29500,62999,Fair,0,2,mi.,from,92132
9,9,2020,Nissan,Rogue Sport S,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego,56371,19739,Great,1236,2,mi.,from,92132

In [54]:
#making initial dataframe for electronic dealers and saying any column with miles=='n/a', 
# then make electronic dealer equal 1.
df3['electronic_dealer'] = 0
df3.loc[df3.miles=='n/a','electronic_dealer'] = 1

In [55]:
#make miles column 0 instead of n/a. better for consitent data type
df3.loc[df3.miles=='n/a','miles']=0

In [56]:
#making miles dataframe equal to 1 if the result of the string split was 'mi.'
df3.loc[df3.miles=='mi.','miles']=1
df3.head()

,index,Year,Make,Model,Dealer_Name,Distance,Distance Radius,Zip,State,City,Mileage,Price,Rate,Under_Value($),miles,mile label,from,zip_code,electronic_dealer
0,0,2020,Jeep,Grand Cherokee Laredo,Carl Burger's Dodge Chrysler Jeep RAM,mi. from 92132,50,92132,CA,San Diego,30134,37990,Fair,0,1,from,92132,None,0
1,1,2016,Dodge,Challenger SRT Hellcat,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,29635,54099,Good,0,2,mi.,from,92132,0
2,2,2010,Lexus,ES 350,TRED Private Seller (San Diego),2 mi. from 92132,50,92132,CA,San Diego,159000,8909,Great,1111,2,mi.,from,92132,0
3,3,2020,Buick,Encore Essence,Hertz Car Sales San Diego,2 mi. from 92132,50,92132,CA,San Diego,57751,21353,Good,0,2,mi.,from,92132,0
4,4,2015,Lexus,IS 350 Base,Shift San Diego,n/a,50,92132,CA,San Diego,55800,28950,Good,0,0,None,None,None,1

In [57]:
#dropping redundant and unnecessary columns
df3 = df3.drop(columns=['zip_code', 'from','mile label','Distance'])
df3.head(50)

,index,Year,Make,Model,Dealer_Name,Distance Radius,Zip,State,City,Mileage,Price,Rate,Under_Value($),miles,electronic_dealer
0,0,2020,Jeep,Grand Cherokee Laredo,Carl Burger's Dodge Chrysler Jeep RAM,50,92132,CA,San Diego,30134,37990,Fair,0,1,0
1,1,2016,Dodge,Challenger SRT Hellcat,TRED Private Seller (San Diego),50,92132,CA,San Diego,29635,54099,Good,0,2,0
2,2,2010,Lexus,ES 350,TRED Private Seller (San Diego),50,92132,CA,San Diego,159000,8909,Great,1111,2,0
3,3,2020,Buick,Encore Essence,Hertz Car Sales San Diego,50,92132,CA,San Diego,57751,21353,Good,0,2,0
4,4,2015,Lexus,IS 350 Base,Shift San Diego,50,92132,CA,San Diego,55800,28950,Good,0,0,1
5,5,2019,Ford,Fiesta SE,Hertz Car Sales San Diego,50,92132,CA,San Diego,61323,14800,Good,0,2,0
6,6,2020,Buick,Encore Essence,Hertz Car Sales San Diego,50,92132,CA,San Diego,54304,22675,Great,229,2,0
7,7,2015,Toyota,Tundra TRD Pro,TRED Private Seller (San Diego),50,92132,CA,San Diego,59516,43079,Fair,0,2,0
8,8,2017,BMW,M3 Base,TRED Private Seller (San Diego),50,92132,CA,San Diego,29500,62999,Fair,0,2,0
9,9,2020,Nissan,Rogue Sport S,Hertz Car Sales San Diego,50,92132,CA,San Diego,56371,19739,Great,1236,2,0
10,10,2011,Lexus,ES 350 Base,TRED Private Seller (San Diego),50,92132,CA,San Diego,95205,14700,Good,0,2,0
11,11,2020,Nissan,Rogue Sport S,Hertz Car Sales San Diego,50,92132,CA,San Diego,54968,21200,Great,500,2,0
12,12,2019,Chevrolet,Malibu LT,Hertz Car Sales San Diego,50,92132,CA,San Diego,60332,18350,Great,1300,2,0
13,13,2015,Nissan,Pathfinder SV,TRED Private Seller (San Diego),50,92132,CA,San Diego,111000,16169,Good,0,2,0
14,14,2019,Toyota,Camry XSE,Shift San Diego,50,92132,CA,San Diego,23592,31450,Good,0,0,1
15,15,2019,Toyota,Camry SE,San Diego Chrysler Dodge Jeep RAM,50,92132,CA,San Diego,21263,28888,Great,566,4,0
16,17,2015,Lexus,RX 350 Base,Shift San Diego,50,92132,CA,San Diego,62026,24950,Good,0,0,1
17,18,2017,Subaru,Crosstrek 2.0i Premium,Shift San Diego,50,92132,CA,San Diego,85229,20450,Good,0,0,1
18,19,2015,Ford,Mustang GT Premium,Shift San Diego,50,92132,CA,San Diego,82306,27450,Great,816,0,1
19,20,2020,Tesla,Model 3 Standard Range Plus,Shift San Diego,50,92132,CA,San Diego,24034,48950,Great,2608,0,1
20,21,2015,Lexus,RX 350 Base,Shift San Diego,50,92132,CA,San Diego,61209,25450,Good,0,0,1
21,22,2013,Honda,Accord EX-L,Shift San Diego,50,92132,CA,San Diego,140236,14950,Fair,0,0,1
22,23,2019,Tesla,Model 3 Long Range,Shift San Diego,50,92132,CA,San Diego,29902,52950,Good,0,0,1
23,24,2014,BMW,X1 sDrive28i,Shift San Diego,50,92132,CA,San Diego,84624,14350,Good,0,0,1
24,25,2014,BMW,428 i xDrive,Carvana-Touchless Delivery To Your Home,50,92132,CA,San Diego,29574,33990,Home_Delivery,0,0,1
25,26,2015,Lexus,IS 350 Base,Carvana-Touchless Delivery To Your Home,50,92132,CA,San Diego,44009,32990,Good,0,0,1
26,27,2015,Hyundai,Sonata SE,Carvana-Touchless Delivery To Your Home,50,92132,CA,San Diego,33590,16590,Good,0,0,1
27,28,2013,Lexus,GS 350 Base,Mission Bay Chevrolet,50,92132,CA,San Diego,39894,27900,Fair,0,6,0
28,29,2021,Toyota,Highlander L,Cumming Chevrolet,50,92132,CA,San Diego,17840,42899,Good,0,6,0
29,30,2012,Honda,Accord EX-L,South Bay Volkswagen,50,92132,CA,San Diego,99139,15576,Fair,0,6,0
30,31,2021,Chevrolet,Colorado WT,Cumming Chevrolet,50,92132,CA,San Diego,16954,36999,Fair,0,6,0
31,32,2019,Mazda,CX-5 Grand Touring,Mission Bay Chevrolet,50,92132,CA,San Diego,29094,29900,Good,0,6,0
32,33,2019,Toyota,Camry XSE,Mossy Toyota,50,92132,CA,San Diego,35566,30360,Good,0,7,0
33,34,2019,Toyota,Camry SE,Mossy Toyota,50,92132,CA,San Diego,56346,26288,Good,0,7,0
34,35,2018,Tesla,Model 3 Long Range,SD Motor Group,50,92132,CA,San Diego,36263,53995,Good,0,7,0
35,36,2020,Toyota,Corolla LE,Mossy Toyota,50,92132,CA,San Diego,39266,21800,Good,0,7,0
36,37,2016,Land,Rover Range Rover Sport Supercharged HSE,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,43752,47998,Good,0,8,0
37,38,2016,Land,Rover Range Rover Sport Supercharged HSE,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,22421,50998,Good,0,8,0
38,39,2019,Tesla,Model 3 Long Range,Kearny Mesa Chrysler Dodge Jeep RAM,50,92132,CA,San Diego,46257,52980,Good,0,8,0
39,40,2017,Audi,A3 2.0T Premium,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,23211,25998,Good,0,8,0
40,41,2019,Nissan,Versa 1.6 SV,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,47376,17998,Good,0,8,0
41,42,2021,Tesla,Model Y Standard Range,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,29206,67998,Fair,0,8,0
42,43,2016,BMW,528 i,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,44482,26998,Fair,0,8,0
43,44,2010,Lexus,RX 350 Base,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,54259,21998,Good,0,8,0
44,45,2017,Audi,A3 2.0T Premium,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,43943,24998,Good,0,8,0
45,46,2019,Mazda,CX-5 Grand Touring,Hello Mazda of San Diego,50,92132,CA,San Diego,18438,30599,Good,0,9,0
46,47,2016,Scion,FR-S Base,Eagle Auto,50,92132,CA,San Diego,41876,17999,Good,0,9,0
47,48,2019,Mazda,CX-5 Grand Touring,Hello Mazda of San Diego,50,92132,CA,San Diego,33820,29599,Good,0,9,0
48,49,2016,Scion,FR-S Base,Eagle Auto,50,92132,CA,San Diego,44170,16999,Great,1099,9,0
49,50,2020,Jeep,Grand Cherokee Laredo,Carl Burger's Dodge Chrysler Jeep RAM,50,92132,CA,San Diego,30134,37990,Fair,0,10,0

In [58]:
# as interger type cleaning
df3['Year'] = df3['Year'].astype(int)
df3['Distance Radius'] = df3['Distance Radius'].astype(int)
df3['Zip'] = df3['Zip'].astype(int)

df3.dtypes

index                 int64
Year                  int64
Make                 object
Model                object
Dealer_Name          object
Distance Radius       int64
Zip                   int64
State                object
City                 object
Mileage               int64
Price                 int64
Rate                 object
Under_Value($)        int64
miles                object
electronic_dealer     int64
dtype: object

In [59]:
# getting rid of string commas so data types can be specified easier for that column, then making integer value
df3['miles'] = df3['miles'].str.replace(',','')
df3 = df3.replace(np.nan,0)
df3['miles'] = df3['miles'].astype(int)

df3.head(50)

,index,Year,Make,Model,Dealer_Name,Distance Radius,Zip,State,City,Mileage,Price,Rate,Under_Value($),miles,electronic_dealer
0,0,2020,Jeep,Grand Cherokee Laredo,Carl Burger's Dodge Chrysler Jeep RAM,50,92132,CA,San Diego,30134,37990,Fair,0,0,0
1,1,2016,Dodge,Challenger SRT Hellcat,TRED Private Seller (San Diego),50,92132,CA,San Diego,29635,54099,Good,0,2,0
2,2,2010,Lexus,ES 350,TRED Private Seller (San Diego),50,92132,CA,San Diego,159000,8909,Great,1111,2,0
3,3,2020,Buick,Encore Essence,Hertz Car Sales San Diego,50,92132,CA,San Diego,57751,21353,Good,0,2,0
4,4,2015,Lexus,IS 350 Base,Shift San Diego,50,92132,CA,San Diego,55800,28950,Good,0,0,1
5,5,2019,Ford,Fiesta SE,Hertz Car Sales San Diego,50,92132,CA,San Diego,61323,14800,Good,0,2,0
6,6,2020,Buick,Encore Essence,Hertz Car Sales San Diego,50,92132,CA,San Diego,54304,22675,Great,229,2,0
7,7,2015,Toyota,Tundra TRD Pro,TRED Private Seller (San Diego),50,92132,CA,San Diego,59516,43079,Fair,0,2,0
8,8,2017,BMW,M3 Base,TRED Private Seller (San Diego),50,92132,CA,San Diego,29500,62999,Fair,0,2,0
9,9,2020,Nissan,Rogue Sport S,Hertz Car Sales San Diego,50,92132,CA,San Diego,56371,19739,Great,1236,2,0
10,10,2011,Lexus,ES 350 Base,TRED Private Seller (San Diego),50,92132,CA,San Diego,95205,14700,Good,0,2,0
11,11,2020,Nissan,Rogue Sport S,Hertz Car Sales San Diego,50,92132,CA,San Diego,54968,21200,Great,500,2,0
12,12,2019,Chevrolet,Malibu LT,Hertz Car Sales San Diego,50,92132,CA,San Diego,60332,18350,Great,1300,2,0
13,13,2015,Nissan,Pathfinder SV,TRED Private Seller (San Diego),50,92132,CA,San Diego,111000,16169,Good,0,2,0
14,14,2019,Toyota,Camry XSE,Shift San Diego,50,92132,CA,San Diego,23592,31450,Good,0,0,1
15,15,2019,Toyota,Camry SE,San Diego Chrysler Dodge Jeep RAM,50,92132,CA,San Diego,21263,28888,Great,566,4,0
16,17,2015,Lexus,RX 350 Base,Shift San Diego,50,92132,CA,San Diego,62026,24950,Good,0,0,1
17,18,2017,Subaru,Crosstrek 2.0i Premium,Shift San Diego,50,92132,CA,San Diego,85229,20450,Good,0,0,1
18,19,2015,Ford,Mustang GT Premium,Shift San Diego,50,92132,CA,San Diego,82306,27450,Great,816,0,1
19,20,2020,Tesla,Model 3 Standard Range Plus,Shift San Diego,50,92132,CA,San Diego,24034,48950,Great,2608,0,1
20,21,2015,Lexus,RX 350 Base,Shift San Diego,50,92132,CA,San Diego,61209,25450,Good,0,0,1
21,22,2013,Honda,Accord EX-L,Shift San Diego,50,92132,CA,San Diego,140236,14950,Fair,0,0,1
22,23,2019,Tesla,Model 3 Long Range,Shift San Diego,50,92132,CA,San Diego,29902,52950,Good,0,0,1
23,24,2014,BMW,X1 sDrive28i,Shift San Diego,50,92132,CA,San Diego,84624,14350,Good,0,0,1
24,25,2014,BMW,428 i xDrive,Carvana-Touchless Delivery To Your Home,50,92132,CA,San Diego,29574,33990,Home_Delivery,0,0,1
25,26,2015,Lexus,IS 350 Base,Carvana-Touchless Delivery To Your Home,50,92132,CA,San Diego,44009,32990,Good,0,0,1
26,27,2015,Hyundai,Sonata SE,Carvana-Touchless Delivery To Your Home,50,92132,CA,San Diego,33590,16590,Good,0,0,1
27,28,2013,Lexus,GS 350 Base,Mission Bay Chevrolet,50,92132,CA,San Diego,39894,27900,Fair,0,6,0
28,29,2021,Toyota,Highlander L,Cumming Chevrolet,50,92132,CA,San Diego,17840,42899,Good,0,6,0
29,30,2012,Honda,Accord EX-L,South Bay Volkswagen,50,92132,CA,San Diego,99139,15576,Fair,0,6,0
30,31,2021,Chevrolet,Colorado WT,Cumming Chevrolet,50,92132,CA,San Diego,16954,36999,Fair,0,6,0
31,32,2019,Mazda,CX-5 Grand Touring,Mission Bay Chevrolet,50,92132,CA,San Diego,29094,29900,Good,0,6,0
32,33,2019,Toyota,Camry XSE,Mossy Toyota,50,92132,CA,San Diego,35566,30360,Good,0,7,0
33,34,2019,Toyota,Camry SE,Mossy Toyota,50,92132,CA,San Diego,56346,26288,Good,0,7,0
34,35,2018,Tesla,Model 3 Long Range,SD Motor Group,50,92132,CA,San Diego,36263,53995,Good,0,7,0
35,36,2020,Toyota,Corolla LE,Mossy Toyota,50,92132,CA,San Diego,39266,21800,Good,0,7,0
36,37,2016,Land,Rover Range Rover Sport Supercharged HSE,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,43752,47998,Good,0,8,0
37,38,2016,Land,Rover Range Rover Sport Supercharged HSE,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,22421,50998,Good,0,8,0
38,39,2019,Tesla,Model 3 Long Range,Kearny Mesa Chrysler Dodge Jeep RAM,50,92132,CA,San Diego,46257,52980,Good,0,8,0
39,40,2017,Audi,A3 2.0T Premium,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,23211,25998,Good,0,8,0
40,41,2019,Nissan,Versa 1.6 SV,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,47376,17998,Good,0,8,0
41,42,2021,Tesla,Model Y Standard Range,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,29206,67998,Fair,0,8,0
42,43,2016,BMW,528 i,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,44482,26998,Fair,0,8,0
43,44,2010,Lexus,RX 350 Base,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,54259,21998,Good,0,8,0
44,45,2017,Audi,A3 2.0T Premium,CarMax Kearny Mesa - Now offering Curbside Pic...,50,92132,CA,San Diego,43943,24998,Good,0,8,0
45,46,2019,Mazda,CX-5 Grand Touring,Hello Mazda of San Diego,50,92132,CA,San Diego,18438,30599,Good,0,9,0
46,47,2016,Scion,FR-S Base,Eagle Auto,50,92132,CA,San Diego,41876,17999,Good,0,9,0
47,48,2019,Mazda,CX-5 Grand Touring,Hello Mazda of San Diego,50,92132,CA,San Diego,33820,29599,Good,0,9,0
48,49,2016,Scion,FR-S Base,Eagle Auto,50,92132,CA,San Diego,44170,16999,Great,1099,9,0
49,50,2020,Jeep,Grand Cherokee Laredo,Carl Burger's Dodge Chrysler Jeep RAM,50,92132,CA,San Diego,30134,37990,Fair,0,10,0

In [60]:
# Save to the shared folder
df3.to_pickle('/dsa/groups/casestudy2022su/team05/carscom_v02.pkl')